<main class="register-page">
  <article class="register">
    <section class="register-container">
      <h1 class="title">¡Regístrate hoy mismo!</h1>
      <div class="register-data">
        <h2 class="title-secondary">Registro de usuario</h2>
        <form [formGroup]="registerForm" class="register-form">
          <mat-form-field appearance="fill">
            <mat-label>Nombre Completo : </mat-label>
            <input
              type="text"
              matInput
              placeholder="Ingresa tu Nombre"
              formControlName="username"
            />
            <mat-error *ngIf="hasError('username', 'required')">
              Debes ingresar un <strong>nombre</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Correo Electrónico : </mat-label>
            <input
              type="email"
              matInput
              formControlName="email"
              placeholder="someone@somemail.com"
            />
            <mat-error *ngIf="hasError('email', 'required')">
              Debes ingresar un <strong>correo</strong>
            </mat-error>
            <mat-error *ngIf="hasError('email', 'pattern')">
              Debes ingresar un correo <strong>válido</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Contraseña : </mat-label>
            <input
              matInput
              formControlName="password"
              [type]="togglePassword ? 'password' : 'text'"
              placeholder="***********"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="togglePassword = !togglePassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="togglePassword"
            >
              <mat-icon>{{
                togglePassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error *ngIf="registerForm.hasError('notSame')">
              Las contraseñas no <strong>coinciden</strong>
            </mat-error>
            <mat-error *ngIf="hasError('password', 'minlength')">
              La contraseña debe ser mínimo de <strong>6 caracteres</strong>
            </mat-error>
            <mat-error *ngIf="hasError('password', 'required')">
              Debes ingresar una <strong>contraseña</strong>
            </mat-error>
            <mat-error
              *ngIf="hasError('confirmPassword', 'confirmedValidator')"
            >
              Las contraseñas no <strong>coinciden</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Confirmar Contraseña : </mat-label>
            <input
              matInput
              formControlName="confirmPassword"
              [type]="toggleConfirmPassword ? 'password' : 'text'"
              placeholder="***********"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="toggleConfirmPassword = !toggleConfirmPassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="toggleConfirmPassword"
            >
              <mat-icon>{{
                toggleConfirmPassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="hasError('confirmPassword', 'confirmedValidator')"
            >
              Las contraseñas no <strong>coinciden</strong>
            </mat-error>
            <mat-error *ngIf="hasError('confirmPassword', 'minlength')">
              La contraseña debe ser mínimo de <strong>6 caracteres</strong>
            </mat-error>
            <mat-error *ngIf="hasError('confirmPassword', 'required')">
              Debes ingresar una <strong>contraseña</strong>
            </mat-error>
          </mat-form-field>
          <button
            type="submit"
            class="btn login-btn"
            mat-raised-button
            (click)="register()"
            [disabled]="!registerForm.valid"
          >
            Crear Cuenta
          </button>
        </form>
        <a routerLink="/login" class="login">
          ¿Ya tienes una cuenta? <span>¡Inicia Sesión!</span>
        </a>
      </div>
    </section>
  </article>
  <article class="register-hero">
    <img src="assets/images/registerHero.png" alt="Register Hero Image" />
  </article>
</main>
