@import '../../../stylus/typographi.styl'
@import '../../../stylus/base.styl';

.sideNav
  height 93vh

.toolbar
  height 7vh
  background-color primary-dark

fa-icon
    font-size 1.2rem
    margin-right 1rem
