@import '../../../../stylus/typographi.styl'
@import '../../../../stylus/base.styl';
.list-users
  display flex
  justify-content center
  align-items center
  height 93vh
  >.mat-elevation-z8
    width 70%
    overflow-x: auto;
    >table
      width 100%

.title
  text-align center
  padding 1rem 0
  font-size 2rem

td
  font-size 1.2rem
  font-family: 'Quicksand', sans-serif;
