<main class="login-page">
  <article class="login-hero">
    <img
      class="image-hero"
      src="assets/images/loginHero.png"
      alt="Login Hero Image"
    />
  </article>
  <article class="login">
    <section class="login-container">
      <h1 class="title">¡Bienvenido de Nuevo!</h1>
      <div class="login-data">
        <h2 class="title-secondary">Inicio de Sesión</h2>
        <form [formGroup]="loginForm" class="login-form">
          <mat-form-field appearance="fill">
            <mat-label>Correo Electrónico : </mat-label>
            <input
              type="email"
              matInput
              formControlName="email"
              placeholder="someone@somemail.com"
            />
            <mat-error *ngIf="hasError('email', 'required')">
              Debes ingresar un <strong>correo</strong>
            </mat-error>
            <mat-error *ngIf="hasError('email', 'pattern')">
              Debes ingresar un correo <strong>válido</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Contraseña : </mat-label>
            <input
              matInput
              formControlName="password"
              [type]="togglePassword ? 'password' : 'text'"
              placeholder="***********"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="togglePassword = !togglePassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="togglePassword"
            >
              <mat-icon>{{
                togglePassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error *ngIf="hasError('password', 'minlength')">
              La contraseña debe ser mínimo de <strong>6 caracteres</strong>
            </mat-error>
            <mat-error *ngIf="hasError('password', 'required')">
              Debes ingresar una <strong>contraseña</strong>
            </mat-error>
          </mat-form-field>
          <a class="forgot-password">¿Perdiste tu contraseña?</a>
          <button
            type="submit"
            class="btn login-btn"
            mat-raised-button
            (click)="login()"
            [disabled]="loginForm.invalid"
          >
            Iniciar Sesión
          </button>
        </form>
        <a routerLink="/register" class="register">
          ¿Necesitas una cuenta? <span>Crea una hoy mismo</span>
        </a>
      </div>
    </section>
  </article>
</main>
